@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

* {font-family: 'Poppins', sans-serif;}
​
html {
  width: 100%;
  height: 100%;
  margin: auto;
}

body {
  height: 100%;
}

h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.container {
  margin: auto;
}

.application {
  margin: auto;
}

.items {
  list-style: none;
  padding-left: 0%;
}


.item {
  border: 2px solid;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

#confirm, #cancel {
	border: 2px solid;
	border-radius: 4px;
	font-weight: 700;
/* 	display: flex;
	justify-content: flex;
	flex-direction: column;
	align-items: center; */
	text-align:center;
	background-color: #ffe07a;
	color: white;	
}


